<header>
  <h1>
    <a href="/"><img src="images/logotype-500_110.png" alt="Louis Rawlins" title="Louis Rawlins"></a>
  </h1>
  <nav>
    <ul>
      <li><a href="/portfolio">Portfolio</a></li>
      <li class="active">Articles</li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div id="mainContent">
  <article>
    <header>
      <div>
        Here's what I've got to read:
      </div>
      <ul>
        <li><a href="/articles/lean-life">Lean Life,</a> a reflection on recent attempts to make sense of business endevaors, life, the universe, and everything</li>
        <li><a href="/articles/gradual-transitions">Gradual transitions</a> and the need to take it easy when we change</li>
      </ul>
    </header>
  </article>
</div> <!-- #mainContent -->
