header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li.active Articles
      li: a(href="/reading") Reading
      li: a(href="/portfolio") Portfolio
      li: a(href="/contact") Contact
#mainContent
  article
    header.
      <div>
        Here's what I've got to read:
      </div>
      <ul>
        <li><a href="/articles/lean-life">Lean Life,</a> a reflection on recent attempts to make sense of business endevaors, life, the universe, and everything</li>
        <li><a href="/articles/gradual-transitions">Gradual transitions</a> and the need to take it easy when we change</li>
      </ul>      
  article
footer
  .copyright Copyright 2014, Louis Rawlins
