header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li.active Bio
      li: a(href="/resume") Resume
      li: a(href="/contact") Contact
#mainContent
  article
    section
      p Louis Rawlins is a designer, artist and engineer focused on storytelling.
      p He creates work using digital, natural and household materials to connect people and make life more fulfilling.
      p He lives and works in Oakland, California where he is currently a user experience designer for a handful of technology startups.
footer
  .revisions: em 23 April 2011, 2:47pm
  .copyright Copyright 2011, Louis Rawlins
