header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li.active Contact
#mainContent
  article
    address
      a(href="tel:+1-248-808-8908") +1 248-808-8908
      a(href="mailto:email@louisrawlins.com") email@louisrawlins.com
footer
