header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="/portfolio") Portfolio
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="/contact") Contact
#mainContent
  article
    header
      div I'm an artist and primarily interested in learning. I teach so that I can learn how people sense the world around them and how people are drawn to build community.
      br
      br
      div
        i
          | A message to startups and recruiters:
        br
        br
        i
          | I'm also an engineer and a designer. I enjoy fiddling with Express on nodejitsu, and I rock at user research and interaction design. This does not mean that I rock, or for that matter, have any interest in being a "full stack" engineer. Please respect this knowledge and do not contact me for engineering work.
          | Much appreciated.
footer
  .revisions: em Updated 06 June 2014
  .copyright Copyright 2014, Louis Rawlins
