header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="/portfolio") Portfolio
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="/contact") Contact
#mainContent
  article
    header.
      <div>
      I'm an artist and primarily interested in learning. I teach so that I can learn how people sense the world around them and how people are drawn to build community.
      </div>
      <div>
      In my businesslife, I work as a user experience designer where I focus on research and strategy.
      </div>
      <div>
      Technically speaking, I do a few things:
      </div>
      <ul>
        <li>I uncover business insights by talking to and observing folks</li>
        <li>I create drawings, mock-ups, and lightweight prototypes to prove ideas, and</li>
        <li>I facilitate teams to release software or solutions that reflect these insights and ideas</li>
      </ul>
      Please <a href="/contact">contact me</a> to learn more. Thanks for stopping by.
      </div>
footer
  .revisions: em <a href="https://github.com/louisrawlins/site">Updated on 30 June 2014</a>
  .copyright Copyright 2014, Louis Rawlins
