header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="/bio") Bio
      li: a(href="/resume") Resume
      li: a(href="/contact") Contact
#mainContent
  article
    header
      | I design, teach and consult for clients in media and technology. <br /><br />
      | As an artist, I work with interactive media and physical interfaces for storytelling. <br /><br />      
footer
  .revisions: em 23 April 2011, 2:47pm
  .copyright Copyright 2011, Louis Rawlins
