header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="/contact") Contact
#mainContent
  article
    header
      | I design apps for mobile devices as a user experience designer in the Mobility Center of Excellence at <a href="http://www.kaiserpermanente.org">Kaiser Permanente</a>. <br /><br />
      | In addition to this work, I teach and create stories using the written word, paper, and digital media. <br /><br />
footer
  .revisions: em Updated 11 Dec 2012
  .copyright Copyright 2012, Louis Rawlins
