header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="/blog") Blog
      li: a(href="/portfolio") Portfolio
      li: a(href="/resume") Resume
      li: a(href="/contact") Contact
#mainContent
  article
    header
      | I work as a mobile user expeirnce designer for <a href="http://www.kaiserpermanente.org">Kaiser Permanente</a>. <br /><br />
      | As an artist, I work with interactive media and physical interfaces for storytelling. <br /><br />
      | As an engineer, I work as a user experience designer and front-end developer for a handful of technology startups.
footer
  .revisions: em Updated 5 March 2012
  .copyright Copyright 2012, Louis Rawlins
