doctype html
html
  head
    meta(name="description", content="Louis Rawlins")
    meta(name="keywords", content="Art,Design,Technology,Engineering,Education")
    meta(name="author", content="Louis Rawlins")
    meta(name="viewport", content="width=500, height=500")
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="css/base.css", type="text/css", media="all")
  body!= body
