header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li.active Portfolio
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="/contact") Contact
#mainContent
  article
    section.comment
      p Below are selections from my media art portfolio.
      p For a PDF portfolio of my design work, please contact me directly at <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a>
      p Thank you!&nbsp;&nbsp;Louis

    section#rose
      h1 Rose (Concept only, 2009)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Short story and concept for animation</em>
        dd.info <em>Tech:</em> <span>Word processor, After Effects, Maya</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm.mov">Video of rough animation from 2006</a> <small>(01:08, 15MB MOV)</small></span>
        dt <hr>
        dd.description Collaborated on short story of movement and change and how a well-intended life can be fascinating and strange to others because the past is always there, even when you're not sure you want it to be. The animation reflects early stages of planning and storyboarding.
        hr
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 004"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png" /></a>

    section#sleep_patterns
      h1 sleep patterns: <br>a tactile sound interface for sleep. (2009)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Physical interactive media installation</em>
        dd.info <em>Tech:</em> <span>Conductive thread, MaxMSP and Jitter with custom wiring and hardware</span>
        dt <hr>
        dd.description Produced experimental sound interface as an "imperfect interface" where the movement hundreds of long hair-like threads. The system is a supplement to sleep; a device that one can reach over and tussle until a pleasing drone is found, then fall peacefully back to sleep.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" rel="lightbox[sleep_patternsInstall]" title="Sleep Patterns"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" /></a>

    section#isolina
      h1 Isolina (2006)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Physical interactive media installation</em>
        dd.info <em>Tech:</em> <span>MaxMSP and Jitter with custom wiring and hardware, Illustrator, After Effects, InDesign, Maya</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina_story.pdf">Read "Isolina" in PDF</a></span>
        dt <hr>
        dd.description Authored and produced award-winning interactive storytelling exhibit woven around a personal narrative of childhood illness.
        dd.description As traumas fade and the past becomes distant, memories re-work themselves, fashion themselves into stories that uphold a sense of being at that moment. Freedom to explore devoid of expectation or chronology, this installation presents itself as just being. There is a tree for playing or ignoring. A bench for sitting, a story to read. Marbles to play with, and a story to watch on the wall. These activities are available, but none are necessary.
        dd.description My thoughts on growing up are generally unfocused, making it hard to pin-point exact happenings, memories, and sequences of events. As such, participants are offered an opportunity to experience my story through this lens. Participants are encouraged to do as they please with the installation. They can hang out at the shelf near the main installation or just sit on the bench next to the shelf. On approach, the video behind the tree shows a default scene. This image pulses to and from white in a breath-like manner to indicate that Isolina is waiting. Her story is yet to be told.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg" /></a>

    section#non-linear
      h1 Non-linear [working title]<br> (Concept only, 2005)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Concept for interactive media installation</em>
        dd.info <em>Tech:</em> <span>Word processor, After Effects, Maya</span>
        dt <hr>
        dd.description This piece is made to be interrupted. It tells a story, visually, textually; but it does not invite quiet contemplation for the entire story. Quite contrary to the native gallery-goers instinct, the piece requires noise to tell you its story. It will not allow for peace -- though the story itself is sometimes peaceful -- it thrives on cellphones and loud talking, bumps and mis-interpreted meanings. Video on each screen appears to be both discrete and inter-related across all screens. Field audio plays from speakers within the screens, complementing the imagery. When users approach the screen, there is no immediate reaction from the video. But, noise of a certain loudness triggers a text overlay which appears as subtitling in white bars on the bottom of the screen.
        dd.description A prototype application has been developed that explores the functionality of the installation running with interaction via a mock-up "voice actor", your own microphone, or no interaction at all (which allows for viewing of the entire narrative, un-interrupted).
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg" rel="lightbox[nonLinearInstall]" title="Non-Linear: Model Screen"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg" /></a>

    section#diaspora
      h1 diaspora [working title] (2005)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Video Performance and Installation</em>
        dd.info <em>Tech:</em> <span>MaxMSP, Jitter, (2) iSight Cameras, Laptop</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop.mov">Rx Gallery performance</a> <small>(03:00, 37MB MOV)</small></span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.mov">Visual description of performance</a> <small>(04:46, 30MB MOV)</small></span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small.mov">Screen render, with audio generation</a> <small>(04:31, 62MB MOV)</small></span>
        dt <hr>
        dd.description What began as visual exploration of the surrounding space and feedback, ultimately turned into a performance piece. Soft, rhythmic colors appear on the screen based on the motions of the performer, capturing the visual environment and layering it back onto itself.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Performance at RX Gallery in SF still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Description of process still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg" /></a>
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Screen render still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg" /></a>

    section#dispersal_residue
      h1 dispersal_residue [working title] (2005)
      // === Portfolio entry. ============
      dl.gallery
        dt.type <em>Sound Installation</em>
        dd.info <em>Tech:</em> <span>MaxMSP, Four-channel audio system</span>
        dd.info <em>See:</em> <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm.mov">Video of Room-Scale Installation</a> <small>(03:40, 49MB MOV)</small></span>
        dt <hr>
        dd.description This installation is the culmination of work dealing with the feedback of the surrounding environment. A benign object exists in the middle of the room, humming and lowing. Once the audience creates a noise, the piece responds with altered versions of the same. Sound is passed from the user to the environment, to the machine and back out again in a natural cycle. The piece is one of self-awareness and play.
        dt <hr>
        dd.slideshow
          | <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg" rel="lightbox[dispersalResidueInstall]" title="dispersal, residue: Installation still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg" /></a>


footer
  .copyright Copyright 2015, Louis Rawlins <a href="https://github.com/louisrawlins/site">(Updated October 5, 2015)</a>
