<header>
  <h1>
    <a href="/"><img src="images/logotype-500_110.png" alt="Louis Rawlins" title="Louis Rawlins"></a>
  </h1>
  <nav>
    <ul>
      <li class="active">Portfolio</li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div id="mainContent">
  <article>
    <header>
      <div>
        Hello! Thank you for stopping to view my work.
      </div>
      <div>
        I hope you enjoy what I have to share. I've selected projects from my work as a user experience designer and media artist.
      </div>
      <div>
        If you have any questions, please drop me an email.
      </div>
      <div>
        Louis Rawlins, <a href="mailto:email@louisrawlins.com">email@louisrawlins.com</a>
      </div>
    </header>
  </article>

      
<small>Quetzall (2012)&lt;\/h1&gt;
        
        
        
        <!-- === Portfolio entry. ============--></small></a></em></h1>

        <dl id="quetzall-ts" class="gallery" style="height: 57px;">
          <dt class="type" style="cursor: pointer;"><em><em>Cloud-based martial arts training app&lt;\/em&gt;&lt;\/dt&gt;</em></em></dt>

          <dd class="info" style="margin-bottom: 20px;"><em><em>Role:&lt;\/em&gt; <span>Design lead&lt;\/span&gt;&lt;\/dd&gt;</span></em></em></dd>

          <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Ruby, Sinatra, Node.js, socket.io, Git, SVG, Illustrator, Photoshop&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

          <dd>
            <hr>
          </dd>

          <dt>&lt;\/dt&gt;</dt>

          <dd class="description"><em><span>Working with electrical engineers and martial artists, we created a mobile web experience for a sensor-based Taekwondo training app. The sensor, which attaches to a heavy punching bag in the gym, tracks the reaction time, accuracy, and force of hits and kicks. This feedback helps trainees in real-time and later, when they wish to review training sessions at home, on the mobile web, or in the gym.<br>
          I took this project from needs assessment to wireframes, then implemented an initial working web app.&lt;\/dd&gt;</span></em></dd>

          <dd>
            <hr>
          </dd>

          <dt>&lt;\/dt&gt;</dt>

          <dd class="slideshow">
            <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-01.jpg" rel="lightbox[ts]" title="User Experience 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-03.jpg" rel="lightbox[ts]" title="User Experience 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-03.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-04.jpg" rel="lightbox[ts]" title="User Experience 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-04.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-01.png" rel="lightbox[ts]" title="Initial Web App 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-01.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-02.png" rel="lightbox[ts]" title="Initial Web App 2"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-02.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-03.png" rel="lightbox[ts]" title="Initial Web App 3"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-03.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-04.png" rel="lightbox[ts]" title="Initial Web App 4"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-web-04.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-05.jpg" rel="lightbox[ts]" title="SVG and HTML"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-05.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

            <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/quetzall/quetzall-ts-01.jpg" rel="lightbox[ts]" title="User Experience 1">Astrid (2012)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

            <dl class="gallery" style="height: 57px;">
              <dt class="type" style="cursor: pointer;"><em><span><em>Mobile and web social to-do list&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

              <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Front-end engineer&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

              <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Ruby, Rails, Git, Haml, Sass, Photoshop&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

              <dd>
                <hr>
              </dd>

              <dt>&lt;\/dt&gt;</dt>

              <dd class="description"><em><span>Implemented HTML/CSS, media queries, and modular layouts social to-do list web app. Beyond improving their front-end engineering process, I was exposed to <a href="http://www.betaful.com/2011/04/git-for-ongoing-collaboration/">a great workflow using Git&lt;\/a&gt; which has become my preferred source control system.&lt;\/dd&gt;</a></span></em></dd>

              <dd>
                <hr>
              </dd>

              <dt>&lt;\/dt&gt;</dt>

              <dd class="slideshow">
                <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-320px.png" rel="lightbox[astrid]" title="Media Query (320px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-320px.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-768px.png" rel="lightbox[astrid]" title="Media Query (768px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-768px.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-1200px.png" rel="lightbox[astrid]" title="Media Query (1200px)"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-1200px.png">&lt;\/a&gt;<br></a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-01.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-01.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-02.png" rel="lightbox[astrid]" title="CSS Framework Improvement 1"><img style="height:100px;width:auto" class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-screen-02.png">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/astrid/astrid-landing-320px.png" rel="lightbox[astrid]" title="Media Query (320px)">The People's SuperPAC (2012)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                <dl class="gallery" style="height: 57px;">
                  <dt class="type" style="cursor: pointer;"><em><span><em>Political advertising publishing platform&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                  <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Design consultant&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                  <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>PHP, WordPress, drupal, Illustrator, Photoshop&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                  <dd>
                    <hr>
                  </dd>

                  <dt>&lt;\/dt&gt;</dt>

                  <dd class="description"><em><span>Worked with client to build personas and user paths for a democratic approach to political advertising. Created testing framework inspired by <a href="https://chromium-build.appspot.com/p/chromium/console">integration testing&lt;\/a&gt; and</a> <a href="https://github.com/visionmedia/should.js">behavior-driven development.&lt;\/a&gt; &lt;\/dd&gt;</a></span></em></dd>

                  <dd>
                    <hr>
                  </dd>

                  <dt>&lt;\/dt&gt;</dt>

                  <dd class="slideshow">
                    <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-persona-marq.jpg" rel="lightbox[tpspac]" title="Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-persona-marq.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-content_creation.png" rel="lightbox[tpspac]" title="User Path for Content Creation"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-content_creation.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-fundraising.png" rel="lightbox[tpspac]" title="User Path for Fundraising"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-user_path-fundraising.png">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                    <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/tpspac/tpspac-persona-marq.jpg" rel="lightbox[tpspac]" title="Persona">Hadza (2012)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                    <dl class="gallery" style="height: 57px;">
                      <dt class="type" style="cursor: pointer;"><em><span><em>Synchronized mobile media capture for events&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                      <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>User experience consultant&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                      <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Illustrator, Photoshop, Markers, Whiteboard&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                      <dd>
                        <hr>
                      </dd>

                      <dt>&lt;\/dt&gt;</dt>

                      <dd class="description"><em><span>Held intensive design sessions with startup client to create a synchronized media experience for mobile and tablet. The personas, user stories, and wireframes created were not viable for production, but proved that upfront design can test assumptions quickly to ensure that ideas are worth the effort they take to produce.&lt;\/dd&gt;</span></em></dd>

                      <dd>
                        <hr>
                      </dd>

                      <dt>&lt;\/dt&gt;</dt>

                      <dd class="slideshow">
                        <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-01.jpg" rel="lightbox[hadza]" title="Design Session 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-02.jpg" rel="lightbox[hadza]" title="Design Session 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-02.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-stories.jpg" rel="lightbox[hadza]" title="User Stories"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-stories.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-01.png" rel="lightbox[hadza]" title="Wireframes 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-01.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-02.png" rel="lightbox[hadza]" title="Wireframes 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-02.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-03.png" rel="lightbox[hadza]" title="Wireframes 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-wireframes-03.png">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                        <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/hadza/hadza-design_session-01.jpg" rel="lightbox[hadza]" title="Design Session 1">Kaiser Permanente (2011)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                        <dl id="kp-prf" class="gallery" style="height: 57px;">
                          <dt class="type" style="cursor: pointer;"><em><span><em>Patient room technology prototypes&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                          <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Team lead&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                          <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Illustrator, InDesign, Word, PowerPoint&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                          <dd>
                            <hr>
                          </dd>

                          <dt>&lt;\/dt&gt;</dt>

                          <dd class="description"><em><span>Coordinated cross-functional teams of designers and facility managers to create user experience documents and project roadmap to install new technology in mock hospital rooms. Specifications included interactive patient care systems and smart glass for displaying patient records in rooms and at nurses station. &lt;\/dd&gt;</span></em></dd>

                          <dd>
                            <hr>
                          </dd>

                          <dt>&lt;\/dt&gt;</dt>

                          <dd class="slideshow">
                            <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-01.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-02.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-02.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-03.jpg" rel="lightbox[patientRoom]" title="Patient Room: Roadmap 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-03.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-04.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-04.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-05.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-05.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-06.jpg" rel="lightbox[patientRoom]" title="Patient Room: Project 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/patient_room-06.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;<!-- === Portfolio entry. ============--></a></span></em>

                            <dl id="kp-iat" class="gallery" style="height: 57px;">
                              <dt class="type" style="cursor: pointer;"><em><span><em>Educational digital screen experience&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                              <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Interaction designer&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                              <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Illustrator, InDesign, PowerPoint, Markers, Whiteboard&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                              <dd>
                                <hr>
                              </dd>

                              <dt>&lt;\/dt&gt;</dt>

                              <dd class="description"><em><span>Hosted design session to create an interactive storytelling experience to showcase innovation in health care technology. Took digital signage project from initial request to bid for vendor production.&lt;\/dd&gt;</span></em></dd>

                              <dd>
                                <hr>
                              </dd>

                              <dt>&lt;\/dt&gt;</dt>

                              <dd class="slideshow">
                                <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-02.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-02.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-04.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-04.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-06.jpg" rel="lightbox[digitalStorytelling]" title="Digital Storytelling: Storyboards 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/digital_storytelling-06.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;<!-- === Portfolio entry. ============--></a></span></em>

                                <dl id="kp-mc" class="gallery" style="height: 57px;">
                                  <dt class="type" style="cursor: pointer;"><em><span><em>Member care mobile app prototype&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                  <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>User experience designer and front-end engineer&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                  <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>jQuery Mobile, PhoneGap, HBase, Java, Tomcat, Eclipse, SVN, HTML5, CSS 3&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                  <dd>
                                    <hr>
                                  </dd>

                                  <dt>&lt;\/dt&gt;</dt>

                                  <dd class="description"><em><span>Led front-end development with small team to produce a mobile app prototype that motivates members to achieve their health goals.&lt;\/dd&gt;</span></em></dd>

                                  <dd>
                                    <hr>
                                  </dd>

                                  <dt>&lt;\/dt&gt;</dt>

                                  <dd class="slideshow">
                                    <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-01.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 1"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-01.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-02.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 2"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-02.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-06.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 3"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-06.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-01.jpg" rel="lightbox[iosApp]" title="iOS App: Persona"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-02.jpg" rel="lightbox[iosApp]" title="iOS App: Splash"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-02.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-03.jpg" rel="lightbox[iosApp]" title="iOS App: Sign up"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-03.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-06.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-06.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-07.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-07.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-08.jpg" rel="lightbox[iosApp]" title="iOS App: Actions 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-08.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                    <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/kp/ios-app-screenshot-01.png" rel="lightbox[iosApp]" title="iOS App: Work-in-progress Screenshot 1">Rose (Concept only, 2009)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                    <dl class="gallery" style="height: 57px;">
                                      <dt class="type" style="cursor: pointer;"><em><span><em>Short story and concept for animation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                      <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist, animator &lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                      <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Word processor, After Effects, Maya&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                      <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm.mov">Video of rough animation from 2006&lt;\/a&gt; <small>(01:08, 15MB MOV)&lt;\/small&gt;&lt;\/span&gt;&lt;\/dd&gt;</small></a></span></em></span></em></dd>

                                      <dd>
                                        <hr>
                                      </dd>

                                      <dt>&lt;\/dt&gt;</dt>

                                      <dd class="description">
                                        <em><span>Collaborated on short story of movement and change and how a well-intended life can be fascinating and strange to others because the past is always there, even when you're not sure you want it to be. The animation reflects early stages of planning and storyboarding.&lt;\/dd&gt;</span></em>
                                        <hr>
                                      </dd>

                                      <dd>
                                        <hr>
                                      </dd>

                                      <dt>&lt;\/dt&gt;</dt>

                                      <dd class="slideshow">
                                        <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-002.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-003.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 004"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-004.png">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                        <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/rose/rose_rough_00_8_sm-001.png" rel="lightbox[roseAnimation]" title="Rose: Animation Draft 001">sleep patterns:<br>
                                        a tactile sound interface for sleep. (2009)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                        <dl class="gallery" style="height: 57px;">
                                          <dt class="type" style="cursor: pointer;"><em><span><em>Physical interactive media installation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                          <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                          <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Conductive thread, MaxMSP and Jitter with custom wiring and hardware&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                          <dd>
                                            <hr>
                                          </dd>

                                          <dt>&lt;\/dt&gt;</dt>

                                          <dd class="description"><em><span>Produced experimental sound interface as an "imperfect interface" where the movement hundreds of long hair-like threads. The system is a supplement to sleep; a device that one can reach over and tussle until a pleasing drone is found, then fall peacefully back to sleep.&lt;\/dd&gt;</span></em></dd>

                                          <dd>
                                            <hr>
                                          </dd>

                                          <dt>&lt;\/dt&gt;</dt>

                                          <dd class="slideshow">
                                            <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" rel="lightbox[sleep_patternsInstall]" title="Sleep Patterns"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                            <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/sleep_patterns/sleep_patterns_small.jpg" rel="lightbox[sleep_patternsInstall]" title="Sleep Patterns">Chai Labs (2008)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                            <dl class="gallery" style="height: 57px;">
                                              <dt class="type" style="cursor: pointer;"><em><span><em>Vertical market websites&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                              <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Front-end engineer&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                              <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>PHP, XML, JavaScript, SVN, UNIX Shell&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                              <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="http://www.moviezen.com/">MovieZen&lt;\/a&gt;&lt;\/span&gt;&lt;\/dd&gt;</a></span></em></span></em></dd>

                                              <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="http://www.tripzen.com/">TripZen&lt;\/a&gt;&lt;\/span&gt;&lt;\/dd&gt;</a></span></em></span></em></dd>

                                              <dd>
                                                <hr>
                                              </dd>

                                              <dt>&lt;\/dt&gt;</dt>

                                              <dd class="description"><em><span>Acted as "CSS Guru" for stealth startup focused on data aggregation for vertical markets. Created XML and HTML snippet-based framework for modular HTML/CSS layout production and content management.&lt;\/dd&gt;</span></em></dd>

                                              <dd>
                                                <hr>
                                              </dd>

                                              <dt>&lt;\/dt&gt;</dt>

                                              <dd class="slideshow">
                                                <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d2.png" rel="lightbox[moviezen]" title="Layout Template D2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d2.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-a2.png" rel="lightbox[moviezen]" title="Layout Template A2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-a2.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01a.png" rel="lightbox[moviezen]" title="Layout Example 1A"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01a.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01b.png" rel="lightbox[moviezen]" title="Layout Example 1B"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01b.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01c.png" rel="lightbox[moviezen]" title="Layout Example 1C"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-01c.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02a.png" rel="lightbox[moviezen]" title="Layout Example 2A"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02a.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02b.png" rel="lightbox[moviezen]" title="Layout Example 2B"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02b.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02c.png" rel="lightbox[moviezen]" title="Layout Example 2C"><img class="thumb noBorder" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-example-02c.png">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                                <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/moviezen/moviezen-template-d.png" rel="lightbox[moviezen]" title="Layout Template D">Isolina (2006)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                                <dl class="gallery" style="height: 57px;">
                                                  <dt class="type" style="cursor: pointer;"><em><span><em>Physical interactive media installation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                                  <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                  <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>MaxMSP and Jitter with custom wiring and hardware, Illustrator, After Effects, InDesign, Maya&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                  <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina_story.pdf">Read "Isolina" in PDF&lt;\/a&gt;&lt;\/span&gt;&lt;\/dd&gt;</a></span></em></span></em></dd>

                                                  <dd>
                                                    <hr>
                                                  </dd>

                                                  <dt>&lt;\/dt&gt;</dt>

                                                  <dd class="description"><em><span>Authored and produced award-winning interactive storytelling exhibit woven around a personal narrative of childhood illness.&lt;\/dd&gt;</span></em></dd>

                                                  <dd class="description"><em><span>As traumas fade and the past becomes distant, memories re-work themselves, fashion themselves into stories that uphold a sense of being at that moment. Freedom to explore devoid of expectation or chronology, this installation presents itself as just being. There is a tree for playing or ignoring. A bench for sitting, a story to read. Marbles to play with, and a story to watch on the wall. These activities are available, but none are necessary.&lt;\/dd&gt;</span></em></dd>

                                                  <dd class="description"><em><span>My thoughts on growing up are generally unfocused, making it hard to pin-point exact happenings, memories, and sequences of events. As such, participants are offered an opportunity to experience my story through this lens. Participants are encouraged to do as they please with the installation. They can hang out at the shelf near the main installation or just sit on the bench next to the shelf. On approach, the video behind the tree shows a default scene. This image pulses to and from white in a breath-like manner to indicate that Isolina is waiting. Her story is yet to be told.&lt;\/dd&gt;</span></em></dd>

                                                  <dd>
                                                    <hr>
                                                  </dd>

                                                  <dt>&lt;\/dt&gt;</dt>

                                                  <dd class="slideshow">
                                                    <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-02.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png" rel="lightbox[isolinaInstall]" title="Isolina: Sequence 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-seq-03.png">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 2"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-02.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Render 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-render-04.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 1"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-01.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 5"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-05.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 4"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-04.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Install 3"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-03.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Installation"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-install-00.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                                    <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/isolina/isolina-story-01.jpg" rel="lightbox[isolinaInstall]" title="Isolina: Story">Non-linear [working title]<br>
                                                    (Concept only, 2005)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                                    <dl class="gallery" style="height: 57px;">
                                                      <dt class="type" style="cursor: pointer;"><em><span><em>Concept for interactive media installation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                                      <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist, prototyper&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                      <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>Word processor, After Effects, Maya&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                      <dd>
                                                        <hr>
                                                      </dd>

                                                      <dt>&lt;\/dt&gt;</dt>

                                                      <dd class="description"><em><span>This piece is made to be interrupted. It tells a story, visually, textually; but it does not invite quiet contemplation for the entire story. Quite contrary to the native gallery-goers instinct, the piece requires noise to tell you its story. It will not allow for peace -- though the story itself is sometimes peaceful -- it thrives on cellphones and loud talking, bumps and mis-interpreted meanings. Video on each screen appears to be both discrete and inter-related across all screens. Field audio plays from speakers within the screens, complementing the imagery. When users approach the screen, there is no immediate reaction from the video. But, noise of a certain loudness triggers a text overlay which appears as subtitling in white bars on the bottom of the screen.&lt;\/dd&gt;</span></em></dd>

                                                      <dd class="description"><em><span>A prototype application has been developed that explores the functionality of the installation running with interaction via a mock-up "voice actor", your own microphone, or no interaction at all (which allows for viewing of the entire narrative, un-interrupted).&lt;\/dd&gt;</span></em></dd>

                                                      <dd>
                                                        <hr>
                                                      </dd>

                                                      <dt>&lt;\/dt&gt;</dt>

                                                      <dd class="slideshow">
                                                        <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 001"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 002"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_002.gif">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 003"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_003.gif">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg" rel="lightbox[nonLinearInstall]" title="Non-Linear: Model Screen"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_model.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                                        <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/non-linear/non-linear_fig_001.gif" rel="lightbox[nonLinearInstall]" title="Non-Linear: Figure 001">diaspora [working title] (2005)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                                        <dl class="gallery" style="height: 57px;">
                                                          <dt class="type" style="cursor: pointer;"><em><span><em>Video Performance and Installation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                                          <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist, performer&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                          <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>MaxMSP, Jitter, (2) iSight Cameras, Laptop&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                          <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop.mov">Rx Gallery performance&lt;\/a&gt; <small>(03:00, 37MB MOV)&lt;\/small&gt;&lt;\/span&gt;&lt;\/dd&gt;</small></a></span></em></span></em></dd>

                                                          <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.mov">Visual description of performance&lt;\/a&gt; <small>(04:46, 30MB MOV)&lt;\/small&gt;&lt;\/span&gt;&lt;\/dd&gt;</small></a></span></em></span></em></dd>

                                                          <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small.mov">Screen render, with audio generation&lt;\/a&gt; <small>(04:31, 62MB MOV)&lt;\/small&gt;&lt;\/span&gt;&lt;\/dd&gt;</small></a></span></em></span></em></dd>

                                                          <dd>
                                                            <hr>
                                                          </dd>

                                                          <dt>&lt;\/dt&gt;</dt>

                                                          <dd class="description"><em><span>What began as visual exploration of the surrounding space and feedback, ultimately turned into a performance piece. Soft, rhythmic colors appear on the screen based on the motions of the performer, capturing the visual environment and layering it back onto itself.&lt;\/dd&gt;</span></em></dd>

                                                          <dd>
                                                            <hr>
                                                          </dd>

                                                          <dt>&lt;\/dt&gt;</dt>

                                                          <dd class="slideshow">
                                                            <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Performance at RX Gallery in SF still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Description of process still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_descrip.jpg">&lt;\/a&gt;</a> <a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Screen render still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_small_still.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;</a></span></em>

                                                            <h1><em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/diaspora/diaspora_rx_doc_crop_still.jpg" rel="lightbox[diasporaPerformance]" title="diaspora: Performance at RX Gallery in SF still">dispersal_residue [working title] (2005)&lt;\/h1&gt;<!-- === Portfolio entry. ============--></a></span></em></h1>

                                                            <dl class="gallery" style="height: 57px;">
                                                              <dt class="type" style="cursor: pointer;"><em><span><em>Sound Installation&lt;\/em&gt;&lt;\/dt&gt;</em></span></em></dt>

                                                              <dd class="info" style="margin-bottom: 20px;"><em><span><em>Role:&lt;\/em&gt; <span>Lead artist&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                              <dd class="info"><em><span><em>Tech:&lt;\/em&gt; <span>MaxMSP, Four-channel audio system&lt;\/span&gt;&lt;\/dd&gt;</span></em></span></em></dd>

                                                              <dd class="info"><em><span><em>See:&lt;\/em&gt; <span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm.mov">Video of Room-Scale Installation&lt;\/a&gt; <small>(03:40, 49MB MOV)&lt;\/small&gt;&lt;\/span&gt;&lt;\/dd&gt;</small></a></span></em></span></em></dd>

                                                              <dd>
                                                                <hr>
                                                              </dd>

                                                              <dt>&lt;\/dt&gt;</dt>

                                                              <dd class="description"><em><span>This installation is the culmination of work dealing with the feedback of the surrounding environment. A benign object exists in the middle of the room, humming and lowing. Once the audience creates a noise, the piece responds with altered versions of the same. Sound is passed from the user to the environment, to the machine and back out again in a natural cycle. The piece is one of self-awareness and play.&lt;\/dd&gt;</span></em></dd>

                                                              <dd>
                                                                <hr>
                                                              </dd>

                                                              <dt>&lt;\/dt&gt;</dt>

                                                              <dd class="slideshow">
                                                                <em><span><a href="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg" rel="lightbox[dispersalResidueInstall]" title="dispersal, residue: Installation still"><img class="thumb" src="https://s3.amazonaws.com/louisrawlins-portfolio/galleries/dispersal_residue/dpr_doc_sm_still.jpg">&lt;\/a&gt;&lt;\/dd&gt;&lt;\/dl&gt;&lt;\/section&gt;&lt;\/article&gt;&lt;\/div&gt;</a></span></em>

                                                                <div class="revisions">
                                                                  <em><span><em>Updated January 27, 2013&lt;\/em&gt;&lt;\/div&gt;</em></span></em>

                                                                  <div class="copyright">
                                                                    <em><span><small>ALL WORK COPYRIGHT TO RESPECTIVE CLIENTS AND EMPLOYERS&lt;\/small&gt;<br>
                                                                    2013, <a href="mailto:email@louisrawlins.com">Louis Rawlins&lt;\/a&gt;&lt;\/div&gt;&lt;\/footer&gt;&lt;\/body&gt;&lt;\/html&gt;</a></small></span></em>
                                                                  </div>
                                                                </div>
                                                              </dd>
                                                            </dl>
                                                          </dd>
                                                        </dl>
                                                      </dd>
                                                    </dl>
                                                  </dd>
                                                </dl>
                                              </dd>
                                            </dl>
                                          </dd>
                                        </dl>
                                      </dd>
                                    </dl>
                                  </dd>
                                </dl>
                              </dd>
                            </dl>
                          </dd>
                        </dl>
                      </dd>
                    </dl>
                  </dd>
                </dl>
              </dd>
            </dl>
          </dd>
        </dl>
      </div>
    </li>
  </ul>
