header
  h1: a(href="/"): img(src="images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="/blog") Blog
      li: a(href="/portfolio") Portfolio
      li.active Resume
      li: a(href="/contact") Contact
#mainContent
  article
    section
      h1 Purpose
      p Storytelling: to create and inspire the future of interactive media
    section
      h1 Profession
      // === Accomplishment ============
      dl
        dt <em>User Experience Designer</em> (Jan 2011 to Sep 2011)
        dd Kaiser Permanente, Innovation and Advanced Technology, <br />San Leandro CA
        dd Took on a variety of roles from Team Lead and Design Lead for technology prototypes to Front-end Developer, Interactive Media Designer, Producer and Visual Quality Assurance for mobile apps.
        dd.example: a(href="http://xnet.kp.org/innovationcenter/") Innovation at the Garfield Center
      // === Accomplishment ============
      dl
        dt <em>Co-Founder and Design Consultant</em> (Mar 2010 to Mar 2011)
        dd Zenti, Campbell CA (from home office in Oakland, CA)
        dd Planned interface and implementation (<a href="http://zenti.com/viewer">zenti.com/viewer</a>).
        dd.example: a(href="http://zenti.com/") Zenti
      // === Accomplishment ============
      dl
        dt <em>Project Manager, Designer and Engineer</em> (Sep 2010 to Nov 2010)
        dd Symbiosis, Melbourne AU (from home office in Oakland, CA)
        dd Coordinated design and execution of website within available budget with supporting user stories, wireframes and graphic design.
        dd.example: a(href="http://symbiosis.com.au/") Symbiosis Radio
      // === Accomplishment ============
      dl
        dt <em>Media Consultant, Engineer</em> (Jun 2010 to Nov 2010)
        dd Wonderarium, Oakland CA
        dd Supported multimedia production and created automated plant tracking database using PHP, QR codes and Google Docs.
        dd.example: a(href="http://thewonderarium.com/") Wonderarium
      // === Accomplishment ============
      dl
        dt <em>Technical Reviewer</em> (Jan 2010 to Jun 2010)
        dd O'Reilly Media, Sebastopol, CA; Boston, MA <br/>(from home office in Oakland, CA)
        dd Gave content feedback for a book on iPhone design and a book on WordPress.
        dd.example: a(href="http://oreilly.com/") O'Reilly Media
      // === Accomplishment ============
      dl
        dt <em>Designer and Engineer</em> (Mar 2010 to May 2010)
        dd Duffel Inc, Palo Alto CA
        dd Produced interaction design, graphic design, and implemented HTML and CSS layouts in Ruby on Rails for visual trip planning website.
        dd.example: a(href="http://duffelup.com/") Duffel
      // === Accomplishment ============
      dl
        dt <em>Designer and Engineer</em> (Oct 2008 to Mar 2010)
        dd Overlap, San Francisco CA
        dd Designed and implemented HTML and CSS for Overlap website. Coordinated online media releases and events in San Francisco and internationally.
        dd.example: a(href="http://overlap.org/") Overlap
      // === Accomplishment ============
      dl
        dt <em>Designer and Engineer</em> (Jul 2008 to Dec 2009)
        dd Chai Labs, Mountain View CA
        dd Produced 80+ unique layouts in HTML and CSS for two vertical market properties by creating slim content management system in PHP, XML and JavaScript.
        dd.example: a(href="http://www.moviezen.com/") MovieZen
        dd.example: a(href="http://www.tripzen.com/") TripZen
      // === Accomplishment ============
      dl
        dt <em>Technologist, Design Consultant</em> (May 2007 to Jun 2009)
        dd Conscious Dancer Magazine, Berkeley CA
        dd Researched and implemented design workflow and IT solutions for healthy lifestyle magazine.
        dd.example: a(href="http://www.consciousdancer.com/") Conscious Dancer
      // === Accomplishment ============
      dl
        dt <em>Graphic Designer</em> (May 2006 to Oct 2007)
        dd Building Solutions, Oakland CA
        dd Created business identity and website.
        dd.example: a(href="http://design.sumat.org/web/building_solutions/") Building Solutions
    section
      h1 Teaching
      // === Accomplishment ============
      dl
        dt <em>HTML, CSS, JavaScript Instructor</em> (Aug 2010 to Nov 2010)
        dd Tech Liminal, Oakland CA
        dd Created curriculum and teach intensive courses on HTML, CSS and JavaScript, focused on problem-solving techniques.
      // === Accomplishment ============
      dl
        dt <em>Web Technologies Instructor</em> (May 2010 to Nov 2010)
        dd AcademyX, San Francisco CA
        dd Created curriculum and teach classes on advanced CSS techniques and HTML5 and CSS3.
      // === Accomplishment ============
      dl
        dt
          em Web Technologies Workshop Instructor
          |  (Mar 2010 to Aug 2010)
        dd Olivet University, San Francisco CA
        dd Created and taught distance-learning curriculum for workshops on client expectations for web development in the field.
      // === Accomplishment ============
      dl
        dt
          em Design + Technology Teaching Assistant
          |  (Jan 2005 to May 2006)
        dd San Francisco Art Institute, CA
        dd Focused on Max/MSP/Jitter and hardware interaction with audio and video, addressing notions of space, interactivity, and usability.
    section
      h1 Education
      ul
        li <em>Digital Media,</em> MFA from San Francisco Art Institute, CA (May 2006)
        li <em>Computer Science,</em> Post-Bac from Mills College, Oakland CA (Dec 2007)
        li <em>Mathematics,</em> BA with Concentrations in <em>Studio Art</em> and <em>Art History</em><br /> from Oakland University, Rochester MI (Aug 2004)
    section
      h1 Performances
      dl
        dt <em>'diaspora' (working title)</em> (Mar 2005)
        dd Rx Gallery, San Francisco CA
        dd Relaxing, abstract images to accompany music. A gestural, dual-camera performance system using colorful video illumination from a laptop.
        dd.example: a(href="http://design.sumat.org/multimedia/diaspora") Project: 'diaspora' (working title)
      dl
        dt <em>'dispersal, residue'</em> (Dec 2004)
        dd San Francisco Art Institute, CA
        dd A feedback machine for individual and community play, drawing sound from the audience to the performer, then back to the audience.
        dd.example: a(href="http://design.sumat.org/multimedia/dispersal_residue") Project: 'dispersal, residue'
    section
      h1 Solo Exhibitions
      dl
        dt <em>'Conversation Piece 003'</em> (Jul 2003)
        dd Meadowbrook Art Gallery, Rochester MI
        dd The transient nature of conversation and relationships, blurred through the synchronisation of random speech with video of a couple speaking.
        dd.example: a(href="http://design.sumat.org/multimedia/conversation_piece") Project: 'Conversation Piece 003'
    section
      h1 Group Exhibitions
      dl
        dt <em>'Sleep Patterns'</em> (Jul 2009)
        dd Climate Theater, San Francisco CA
        dd A tactile sound interface for sleep.
      dl
        dt <em>'Rainbow Collection'</em> (Oct 2008)
        dd Climate Theater, San Francisco CA
        dd Time-delayed video feedback machine.
      dl
        dt <em>'Isolina'</em> (May 2006)
        dd SFAI MFA Graduate Exhibition, Herbst Pavillion, San Francisco CA
        dd Semi-autobiographical sculptural installation with single screen interactive video and short story.
        dd.example: a(href="http://design.sumat.org/multimedia/isolina") Project: 'Isolina'
      dl
        dt <em>'dishwife.'</em> (May 2006)
        dd Caffe Latte, East Lansing MI
        dd A vulgar, abusive woman and an otherwise average scene of washing dishes tells the story of an abused husband through image and tense soundtrack.
        dd.example: a(href="http://simple.sumat.org/working/past_works.html") Project: 'dishwife.'
    section
      h1 Internships
      dl
        dt <em>Arts and Education Intern</em> (Oct 2004 to Oct 2005)
        dd Leonardo/ISAST (Journal of the International Society for the Arts, Sciences and Technology), San Francisco CA
        dd Coordinated educator participation in the College Art Association annual conference.
        dd.example: a(href="http://leonardo.info/") Leonardo/ISAST
    section
      h1 Awards
      dl
        dt <em>Ella King Torrey Award for 'Isolina'</em> (May 2006)
        dd SFAI MFA Graduate Exhibition, Herbst Pavillion, San Francisco CA
        dd First prize in group exhibition MFA thesis show.
      dl
        dt <em>Provost Research Scholarship for 'Conversation Piece 003'</em> (Sep 2002)
        dd Meadowbrook Art Gallery, Rochester MI
        dd Funding for production of room-scale installation as part of Honors College thesis.
footer
  .revisions: em Updated 5 March 2012
  .copyright Copyright 2012, Louis Rawlins
