header
  h1: a(href="/"): img(src="../images/logotype-500_110.png", alt="Louis Rawlins", title="Louis Rawlins")
  nav
    ul
      li: a(href="../portfolio") Portfolio
      li.active Articles
      li: a(href="http://www.linkedin.com/in/louisrawlins") LinkedIn
      li: a(href="../contact") Contact
#mainContent
  article
    div Here is some text.
footer
